
#tokenflipmenu .window-header {
  display: none;
}


#tokenflipmenu .window-content {
  background: none;
  color: var(--color-text-light-highlight);
  padding: 0;
}

#tokenflipmenu li:first-child{
  border: none;
}