<div class="tab sidebar-tab directory flexcol">
    <ol class="directory-list">
        {{#each tokenfaces}}
        <li class="directory-item document actor flexrow" data-id="{{this.id}}">
            <img class="thumbnail" title="{{this.actorName}}" src="{{this.img}}">
            <h4 class="document-name"><a>{{this.actorName}}</a></h4>
        </li>
        {{/each}}
    </ol>
</div>

